header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background-color: #ebeae9;
  border-bottom: 2px solid #eee;
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  height: 80px;
  margin-right: 15px;
}

.brand {
  color: #A66AFD;
  font-size: 1.9em;
  font-weight: bold;
}

nav {
  margin-left: -90px;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.3em;
  color: #000000;
  transition: color 0.3s;
  margin-right: 50px;
}

nav a:hover,
nav a.active {
  color: #A66AFD;
}

.auth-buttons a {
  margin-left: 15px;
  padding: 8px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
}

.auth-buttons .login {
  color: #000000;
}

.auth-buttons .signup {
  background-color: #D1F400;
  color: #000000;
}

.user-menu {
  position: relative;
  display: inline-block;
}

.user-icon {
  width: 55px;
  height: 55px;
  background-color: #CC5C36;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 55px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  min-width: 150px;
  z-index: 100;
}

.dropdown a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: background 0.3s;
}

.dropdown a:hover {
  background-color: #f2f2f2;
}

.dropdown.show {
  display: block;
}

